<h1>We the People</h1>


<h2>Record New Contact </h2>

<form method="POST" action="/contact/">

  {{!-- <input type="text" value="" placeholder="contactType" name="contactType" /> --}}
  <label for="contactType">Type:</label>
  <select name="contactType" title="Type of contact:">
    <option value="call">Call</option>
    <option value="email">Email</option>
  </select>
  <label for="date">Date:</label>
  <input type="text" value="" placeholder="date" name="date" />
  <label for="from">From:</label>
  <input type="text" value="" placeholder="from" name="from" />
  <label for="to">To:</label>
  <select name="electedOfficialId">
    {{#each electedOfficialId}}
    <option value="{{_id}}">{{first}} {{last}}</option>
    {{/each}}
  </select>
  <input type="text" value="" placeholder="regarding" name="regarding" />
  

  <input type="submit" value="Record New Contact" />
</form>