<h1>Record New Contact </h1>

<form method="POST" action="/contact/">

  <input type="text" value="" placeholder="contactType" name="contactType" />
  <input type="text" value="" placeholder="date" name="date" />
  <input type="text" value="" placeholder="from" name="from" />
   
  {{!-- <select name="officialId">
    <option value="">NONE</option>
    {{#each allElectedOfficials}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select> --}}

  <input type="text" value="" placeholder="regarding" name="regarding" />
  <input type="checkbox" name="receivedReply" value="false" />
  <input type="checkbox" name="followUp" value="false" />


  <input type="submit" value="Record New Contact" />
</form>