<h1>All Elected Officials</h1>


<a href="/electedOfficial/new">
    <button>Add New Official</button>
</a>


{{#each allElectedOfficials}}

<a href="/electedOfficial/{{_id}}">
<div>
    <span>{{first}}</span> <span>{{last}}</span>
</div>
</a>

{{/each}}