<h1>We the People</h1>

<h2>Add New Elected Official </h2>

<form method="POST" action="/electedOfficial/">

  <input type="text" value="" placeholder="name" name="name" />
  <label for="title">Title:</label>
  <select name="title">
    <option value="representative">Representative</option>
    <option value="senator">Senator</option>
    <option value="councilman">Councilman</option>
    <option value="councilwoman">Councilwoman</option>
    <option value="mayor">Mayor</option>
    <option value="governor">Governor</option>
    <option value="president">President</option>
  </select>
  <input type="text" value="" placeholder="picture" name="picture" />
  <label for="state">State:</label>
  <select name="state">
    <option value='alabama'>Alabama</option>
    <option value='alaska'>Alaska</option>
    <option value='arizona'>Arizona</option>
    <option value='arkansas'>Arkansas</option>
    <option value='california'>California</option>
    <option value='colorado'>Colorado</option>
    <option value='connecticut'>Connecticut</option>
    <option value='delaware'>Delaware</option>
    <option value='florida'>Florida</option>
    <option value='georgia'>Georgia</option>
    <option value='hawaii'>Hawaii</option>
    <option value='idaho'>Idaho</option>
    <option value='illinois'>Illinois</option>
    <option value='indiana'>Indiana</option>
    <option value='iowa'>Iowa</option>
    <option value='kansas'>Kansas</option>
    <option value='kentucky'>Kentucky</option>
    <option value='louisiana'>Louisiana</option>
    <option value='maine'>Maine</option>
    <option value='maryland'>Maryland</option>
    <option value='massachusetts'>Massachusetts</option>
    <option value='michigan'>Michigan</option>
    <option value='minnesota'>Minnesota</option>
    <option value='mississippi'>Mississippi</option>
    <option value='missouri'>Missouri</option>
    <option value='montana'>Montana</option>
    <option value='nebraska'>Nebraska</option>
    <option value='nevada'>Nevada</option>
    <option value='new hampshire'>New Hampshire</option>
    <option value='new jersey'>New Jersey</option>
    <option value='new mexico'>New Mexico</option>
    <option value='new york'>New York</option>
    <option value='north carolina'>North Carolina</option>
    <option value='north dakota'>North Dakota</option>
    <option value='ohio'>Ohio</option>
    <option value='oklahoma'>Oklahoma</option>
    <option value='oregon'>Oregon</option>
    <option value='pennsylvania'>Pennsylvania</option>
    <option value='rhode island'>Rhode Island</option>
    <option value='south carolina'>South Carolina</option>
    <option value='south dakota'>South Dakota</option>
    <option value='tennessee'>Tennessee</option>
    <option value='texas'>Texas</option>
    <option value='utah'>Utah</option>
    <option value='vermont'>Vermont</option>
    <option value='virginia'>Virginia</option>
    <option value='washington'>Washington</option>
    <option value='west virginia'>West Virginia</option>
    <option value='wisconsin'>Wisconsin</option>
    <option value='wyoming'>Wyoming</option>
  </select>
  <label for="level">Level:</label>
  <select name="level">
    <option value="federal">Federal</option>
    <option value="state">State</option>
    <option value="local">Local</option>
  </select>
  <input type="text" value="" placeholder="body" name="body" />
  <input type="text" value="" placeholder="phone" name="phone" />
  <input type="text" value="" placeholder="email" name="email" />
  <input type="text" value="" placeholder="webpage" name="webpage" />

  <input type="submit" value="Add New Elected Official" />
</form>