<h1>Add New Elected Official </h1>

<form method="POST" action="/electedOfficial/">

  <input type="text" value="" placeholder="name" name="name" />
  <input type="text" value="" placeholder="title" name="title" />
  <input type="text" value="" placeholder="picture" name="picture" />
  <input type="text" value="" placeholder="scope" name="scope" />
  <input type="text" value="" placeholder="body" name="body" />
  <input type="text" value="" placeholder="phone" name="phone" />
  <input type="text" value="" placeholder="email" name="email" />
  <input type="text" value="" placeholder="webpage" name="webpage" />

  <input type="submit" value="Add New Elected Official" />
</form>
