<h1>All Legislation</h1>


<a href="/legislation/new">
    <button>Create Legislation</button>
</a>


{{#each allLegislation}}

<a href="/legislation/{{_id}}">
    <div>
        <span>{{title}}</span>
    </div>
</a>

{{/each}}