<h1>We the People</h1>


<h2>All Legislation</h2>
<img src="https://s16-us2.startpage.com/cgi-bin/serveimage?url=https%3A%2F%2Fwashington-org.s3.amazonaws.com%2Fs3fs-public%2Fstyles%2Fgallery_thumbnail_portrait%2Fpublic%2Fjnuts_00_us-capitol-dome-at-sunset_yesmydccool.jpg%3Fitok%3DBa9xHxeN&sp=f14f751d43ffb8c756e1165e5ea8a8c1&anticache=703857" width="200" />

<a href="/legislation/new">
    <button>Create Legislation</button>
</a>


{{#each allLegislation}}

<a href="/legislation/{{_id}}">
    <div>
        <span>{{title}}</span>
    </div>
</a>

{{/each}}