<h1 class= "create">We the People</h1>
<h2>Create Legislation</h2>

<img src="https://s16-us2.startpage.com/cgi-bin/serveimage?url=https%3A%2F%2Fwashington-org.s3.amazonaws.com%2Fs3fs-public%2Fstyles%2Fgallery_thumbnail_portrait%2Fpublic%2Fjnuts_00_us-capitol-dome-at-sunset_yesmydccool.jpg%3Fitok%3DBa9xHxeN&sp=f14f751d43ffb8c756e1165e5ea8a8c1&anticache=703857" width="200" />

<form method="POST" action="/legislation/">

  <input type="text" value="" placeholder="title" name="title" />
  <input type="text" value="" placeholder="billID" name="billID" />
  <label for="level">Level:</label>
  <select name="level">
    <option value="federal">Federal</option>
    <option value="state">State</option>
    <option value="local">Local</option>
  </select>
  <input type="text" value="" placeholder="body" name="body" />
  <input type="text" value="" placeholder="committee" name="committee" />
  <input type="text" value="" placeholder="subCommittee" name="subCommittee" />
  <input type="text" value="" placeholder="legislationText" name="legislationText" />

  <input type="submit" value="Create Legislation" />
</form>

<div class=nav>
    <a href="/electedOfficial/">
        <button>Elected Officials</button>
    </a>
    <a href="/legislation/">
        <button>Legislation</button>
    </a>
    <a href="/contact/">
        <button>Contacts</button>
    </a>
</div>