<h1>Create Legislation</h1>

<form method="POST" action="/legislation/">

  <input type="text" value="" placeholder="title" name="name" />
  <input type="text" value="" placeholder="billID" name="billID" />
  <input type="checkbox" name="support" value="true" />
  <input type="text" value="" placeholder="scope" name="scope" />
  <input type="text" value="" placeholder="body" name="body" />
  <input type="text" value="" placeholder="committee" name="committee" />
  <input type="text" value="" placeholder="subCommittee" name="subCommittee" />
  <input type="text" value="" placeholder="legislationText" name="legislationText" />
  <input type="checkbox" name="pending" value="true" />
  <input type="checkbox" name="passed" value="true" />

  <input type="submit" value="Create Legislation" />
</form>