<h1 class= "create">We the People</h1>
<h2>Create Legislation</h2>

<form method="POST" action="/legislation/">

  <input type="text" value="" placeholder="title" name="title" />
  <input type="text" value="" placeholder="billID" name="billID" />
  <lable for="support">Check if you support this legislation:</lable>
  <input type="checkbox" name="support" value="true" />
  <label for="level">Level:</label>
  <select name="level">
    <option value="federal">Federal</option>
    <option value="state">State</option>
    <option value="local">Local</option>
  </select>
  <input type="text" value="" placeholder="body" name="body" />
  <input type="text" value="" placeholder="committee" name="committee" />
  <input type="text" value="" placeholder="subCommittee" name="subCommittee" />
  <input type="text" value="" placeholder="legislationText" name="legislationText" />
  <input type="checkbox" name="pending" value="true" />
  <input type="checkbox" name="passed" value="true" />

  <input type="submit" value="Create Legislation" />
</form>